.container {
  margin-top: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(79, 82, 177, 0.35);
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  width: 359px;
}

.container header {
  margin-bottom: 20px;
}

.container header p {
  margin: 0;
}

.avatar-holder {
  margin: 25px 0;
}

.avatar {
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;

  width: 128px;
  height: 128px;

  display: inline-block;
}

.agent-name {
  color: #343799;
  font-size: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.name {
  color: #1c1c21;
  font-size: 32px;
  padding: 0 10px;
  font-weight: bold;
  margin: 0;
  text-transform: capitalize;
}

.body {
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
  padding: 0 32px;
  margin-bottom: 25px;
  word-wrap: break-word;
}

footer {
  background: #9442ff;
  border-radius: 0 0 8px 8px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 122px;
  justify-content: center;
  padding: 0 32px
}

footer .full-width-flex-box .one-third-flex-box {
  text-transform: capitalize;
}

.bordered {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
}

.full-width-flex-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .container {
    display: inline-flex;
    /* margin-right: 24px; */
    /* margin-left: 24px; */
  }
}