.popup {
    position: fixed;
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    animation: opacity-up .3s ease-in-out;
}

@keyframes opacity-up {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale-up {
    0% {
        scale: .70;
    }

    100% {
        scale: 1;
    }
}

.form-content {
    display: block;
    position: relative;
    background-color: #fff;
    min-height: 10px;
    width: 500px;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    animation-delay: .28s;
    animation: scale-up .6s ease-out;
}

.form-content header {
    border-bottom: 0.5px solid #c4c4c4;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-content header h2 {
    margin: 0;
}

.form-content header button {
    border: none;
    background-color: transparent;
    font-size: large;
    transition: scale 1s ease-in-out;
}

.form-content header button:focus {
    scale: .95;
}

.input-container {
    /* background: red; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.input-container label {
    font-weight: 600;
    letter-spacing: 1px;
}

.input-container textarea {
    min-height: 30px;
    min-width: 100%;
    max-width: 100%;
    max-height: 100px;
    outline: none;
    border: 0.5px solid #c4c4c4;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}

.input-container input {
    outline: none;
    border: 0.5px solid #c4c4c4;
    border-radius: 8px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.input-container input:focus,
.input-container textarea:focus {
    border: 1px solid #555;
}

.form-content form button {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0 15px;
    border-radius: 10;
    background-color: #9442ff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: scale 1s ease-in-out;
}

@media only screen and (max-width: 720px) {
    .form-content {
        width: 450px;
    }
}

@media only screen and (max-width: 500px) {
    .form-content {
        width: 100%;
    }
}